<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateOrderDetailsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateOrderDetailsLabel_id}" for="id" style="display:none;" />
                    <h:inputHidden id="id" value="0"/>Products:
                    <h:selectManyCheckbox  id="orderProducts" value="#{orderDetailsController.selected.orderProducts}" title="orderProducts" converter="omnifaces.SelectItemsConverter">
                        <f:selectItems value="#{productController.itemsAvailableSelectMany}"/>
                    </h:selectManyCheckbox ><br />Deliveries:
                    <h:selectManyCheckbox  id="deliveries" value="#{orderDetailsController.selected.deliveries}" title="deliveries" converter="omnifaces.SelectItemsConverter">
                        <f:selectItems value="#{deliveryController.itemsAvailableSelectMany}"/>
                    </h:selectManyCheckbox ><br />Orders:
                    <h:selectManyCheckbox  id="order" value="#{orderDetailsController.selected.order}" title="orders" converter="omnifaces.SelectItemsConverter">
                        <f:selectItems value="#{orderClassController.itemsAvailableSelectMany}"/>
                    </h:selectManyCheckbox >
                </h:panelGrid>
                <br />
                <h:commandLink action="#{orderDetailsController.create}" value="#{bundle.CreateOrderDetailsSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{orderDetailsController.prepareList}" value="#{bundle.CreateOrderDetailsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateOrderDetailsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
