<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateWarehouseTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateWarehouseLabel_warehouseId}" for="warehouseId" style="display:none;" />
                    <h:inputHidden id="warehouseId" value="0" />
                    <h:outputLabel value="#{bundle.CreateWarehouseLabel_city}" for="city" />
                    <h:inputText id="city" value="#{warehouseController.selected.city}" title="#{bundle.CreateWarehouseTitle_city}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{warehouseController.create}" value="#{bundle.CreateWarehouseSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{warehouseController.prepareList}" value="#{bundle.CreateWarehouseShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateWarehouseIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
