<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewWarehouseTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewWarehouseLabel_warehouseId}"/>
                    <h:outputText value="#{warehouseController.selected.warehouseId}" title="#{bundle.ViewWarehouseTitle_warehouseId}"/>
                    <h:outputText value="#{bundle.ViewWarehouseLabel_city}"/>
                    <h:outputText value="#{warehouseController.selected.city}" title="#{bundle.ViewWarehouseTitle_city}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{warehouseController.destroyAndView}" value="#{bundle.ViewWarehouseDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewWarehouseEditLink}"/>
                <br />
                <h:commandLink action="#{warehouseController.prepareCreate}" value="#{bundle.ViewWarehouseCreateLink}" />
                <br />
                <h:commandLink action="#{warehouseController.prepareList}" value="#{bundle.ViewWarehouseShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewWarehouseIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
