<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Order management</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Manage orders from here:
        <br />

        <br />
        <h:link outcome="/orderClass/List" value="Manage orders with Warehouses"/>
        <br />
        <h:link outcome="/product/List" value="Manage Products"/>
        <br />
        <h:link outcome="/warehouse/List" value="Manage Warehouses"/>
        <br />
        <h:link outcome="/delivery/List" value="Manage Deliveries"/>
        <br />
        <h:link outcome="/orderDetails/List" value="Manage Orders"/>
    </h:body>

</html>

