<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditOrderClassTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditOrderClassLabel_orderId}" for="orderId" />
                    <h:inputText id="orderId" value="#{orderClassController.selected.orderId}" title="#{bundle.EditOrderClassTitle_orderId}" />
                    <h:outputLabel value="#{bundle.EditOrderClassLabel_orderDate}" for="orderDate" />
                    <h:inputText id="orderDate" value="#{orderClassController.selected.orderDate}" title="#{bundle.EditOrderClassTitle_orderDate}" />
                    <h:outputLabel value="#{bundle.EditOrderClassLabel_magazzino}" for="magazzino" />
                    <h:selectOneMenu id="magazzino" value="#{orderClassController.selected.magazzino}" title="#{bundle.EditOrderClassTitle_magazzino}" >
                        <f:selectItems value="#{warehouseController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{orderClassController.update}" value="#{bundle.EditOrderClassSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditOrderClassViewLink}"/>
                <br />
                <h:commandLink action="#{orderClassController.prepareList}" value="#{bundle.EditOrderClassShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditOrderClassIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
